<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~ * ******************************************************************
  ~  *  * Copyright (C) 2022
  ~  *  * AndroidManifest.xml is part of Kizzy
  ~  *  *  and can not be copied and/or distributed without the express
  ~  *  * permission of yzziK(Vaibhav)
  ~  *  *****************************************************************
  ~  */
  ~
  -->

<manifest>

</manifest>