<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~ * ******************************************************************
  ~  *  * Copyright (C) 2022
  ~  *  * AndroidManifest.xml is part of Kizzy
  ~  *  *  and can not be copied and/or distributed without the express
  ~  *  * permission of yzziK(Vaibhav)
  ~  *  *****************************************************************
  ~  */
  ~
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kizzy.bubble_logger">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application>
        <activity
            android:name=".screen.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"
            android:theme="@style/BubbleTheme" />
    </application>
</manifest>